<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DHT11</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/DHT11_Readings.css') }}"
    />
    <!--
    <style>
      body {
        background: url("{{ data['background-image-url'] }}");
      }
    </style>
    -->
  </head>
  <body>
    <div class="container">
      <div class="dht11-reading-tile">
        <div class="title">Temperature</div>
        <div class="value">
          <div class="number">{{ data["temperature"] }}</div>
          <div class="unit">°C</div>
        </div>
      </div>
      <div class="dht11-reading-tile">
        <div class="title">Humidity</div>
        <div class="value">
          <div class="number">{{ data["humidity"] }}</div>
          <div class="unit">%</div>
        </div>
      </div>
    </div>
    <div class="last-update-time">
      <div class="last-update-time-title">Last updated on</div>
      <div class="last-update-time-value">{{ data["last-updated-on"] }}</div>
    </div>
    <div class="locale-options">
      <a href="{{ url_for('DHT11_readings_SR') }}"
        ><img
          src="{{ url_for('static', filename='images/SR.png') }}"
          alt="Serbia"
      /></a>
      <a class="disabled" href="javascript:;"
        ><img
          class="disabled"
          src="{{ url_for('static', filename='images/EN.png') }}"
          alt="United States"
      /></a>
    </div>
  </body>
</html>
