* {
  font-family: "Courier New", Courier, monospace;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.dht11-reading-tile {
  display: flex;
  flex-direction: row;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.value .number {
  font-size: 64px;
}

.value .unit {
  font-size: 32px;
  color: rgb(77, 77, 77);
}

.last-update-time {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  display: grid;
  place-items: center;
  gap: 8px;
  padding: 12px;
}

.last-update-time-title {
  font-size: 14px;
  text-transform: uppercase;
}

.last-update-time-value {
  font-size: 24px;
}

.locale-options {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin: 12px;
  padding: 16px;
}

.locale-options a {
  display: block;
  margin-right: 16px;
  width: 52px;
}

.locale-options a img {
  width: inherit;
  object-fit: cover;
}

.disabled {
  opacity: 50%;
}
